<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <div class="card-title">
                <h5 class="fw-bolder mb-0">
                    <a href="{{ path('app_conference_show', {id: conference.id}) }}"
                       class="stretched-link text-decoration-none"
                       style="color: limegreen;">{{ conference.name }}</a>
                </h5>
            </div>
            <div class="card-text d-flex justify-content-between">
                <div>
                    {% if conference.hasOrganizations %}
                        <p class="my-0">{{ conference.organizations|map((organization) => organization.name)|join(', ') }}</p>
                    {% endif %}
                </div>
                <div>
                    <p class="mb-0">From <span
                            class="fw-semibold">{{ conference.startAt|date('Y-m-d') }}</span>
                        to
                        <span class="fw-semibold">{{ conference.endAt|date('Y-m-d') }}</span></p>
                    <p class="my-0 fst-italic">{{ conference.volunteerings|length }} volunteers
                        yet.</p>
                    <p class="mt-0">Accessible
                        : {{ conference.isAccessible ? 'Yes' : 'No' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
