{% extends 'base.html.twig' %}

{% block content %}
    <div class="container flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title">
                            <h1 class="fw-bold" style="color: limegreen;">{{ conference.name }}</h1>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between mt-4">
                                <div>
                                    <p>From <span
                                            class="fw-semibold">{{ conference.startAt|date('Y-m-d') }}</span> to
                                        <span class="fw-semibold">{{ conference.endAt|date('Y-m-d') }}</span></p>
                                    {% if conference.hasOrganizations %}
                                        <p class="my-0">Organizations: {{ conference.organizations|map((organization) => organization.name)|join(', ') }}</p>
                                    {% else %}
                                        <p class="my-0">Organizations: -</p>
                                    {% endif %}
                                    <p>Accessible
                                        : {{ conference.isAccessible ? 'Yes' : 'No' }}</p>
                                </div>
                                <p class="fst-italic">{{ conference.volunteerings|length }} volunteers yet.</p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="text-muted">{{ conference.prerequisites }}</p>
                            <p class="">{{ conference.description }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 m-auto justify-content-start">
                <a href="{{ path('app_conference_list') }}">
                    <button class="btn text-white" style="background-color: limegreen;">Back</button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
